@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hoppsan!</title>
</head>
<body>
    <hgroup>
        <h1>Ett oväntat fel inträffade!</h1>
        <p>@Html.ActionLink("Klicka här för att återkomma till startsidan", "Index")</p>
    </hgroup>
</body>
</html>