// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {

  .comment-box {
    background-color: #eee;
    width: 50%;
    padding: 20px 20px 40px 40px;
    margin: 10px auto;
  }

  .actions {
    width: 50%;
    margin: 10px auto 80px auto;
  }
}
