<div class="appCanvas" data-infinite-scrolling="loadResources()">
  <div class="page-header">
    <h1>{{ searchResult }}</h1>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search..." data-ng-model="keyword" />
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Search type <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <a data-ng-click="searchByUser()">User</a>
        </li>
        <li>
          <a data-ng-click="searchByLicense()">License</a>
        </li>
        <li>
          <a data-ng-click="searchByTag()">Tag</a>
        </li>
      </ul>
    </div>        
  </div>
    <div ng-repeat="resource in resources | orderBy: '-resource.resource.id'">
      <h2>      
       {{ resource.resource.title }}
      </h2> 
        <p class="text-muted">
          <span class="label label-warning">
            {{ resource.resource.more.about_resource.resource_type }}
          </span>
          <br>      
          Authored by <strong>{{ resource.resource.more.about_resource.author_name }}</strong> and licensed under 
          <strong>{{ resource.resource.more.about_resource.resource_license}}</strong>
        </p>  
      <p>
        <a href="#/update/{{ resource.resource.id }}" class="btn btn-info">Edit</a>   
      <p class="lead" data-ng-bind-html="resource.resource.content | linkify">      
      </p>  
      <small>
        <span class="label label-default">Tags</span>
          <span ng-repeat="tag in resource.resource.more.about_resource.tags">
          {{ tag }}
          </span>
      </small>
      <hr>
    </div>
</div>