@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Hoppsan!";
}

<p class="lead">
    Ett okänt fel inträffade. @Html.ActionLink("Klicka här för att komma tillbaka till kontaktlistan", "Index")
</p>
