@model AdventurousContacts.Models.Contact

@{
    ViewBag.Title = "Skapa en ny kontakt";
}

<div class="panel panel-default">
    <div class="panel-body">
        @* Render editor *@
        <h2>Skapa en ny kontakt</h2>
        @Html.Partial("_ContactForm")
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Tillbaka till kontaktlistan", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}