@{
    ViewBag.Title = "GameOver";
}

<h2>Tiden rann ut...</h2>
<p>Du hann inte göra en gissning på en längre tid varför spelet avslutades.</p>
<p>@Html.ActionLink("Klicka här för att påbörja ett nytt spel", "Index")</p>
